body {
	background-image:url(../images/sultanscurse.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	margin:0;
}

img{
	height:100%;
}

.header_img{
	content: url(..images/MAST.png);
	height:100%
}

.center-horizontal{
	display: flex;
	align-items:center;
}

.center-vertical{
	display: flex;
	justify-content: center;
	height: inherit;
}

.col_center{
	height:100vh;
	width:70vw;
}

.col{
	height:100vh;
	width:15vw;
	display:flex;
	flex-wrap:wrap;
}

.box{
	height:60%;
	width:100%;
}


.smallbox{
	height:40%;
	width:100%;
}

.minibox{
	height:100%;
	width:70%;
}

.nanobox{
	height:calc(100%/3);
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.nanoboxy{
	height:calc(100%/3);
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.thirdbox{
	height:100%;
	width:calc(100%/3);
}

.thirdbox_center{
	height:100%;
	width:calc(100%/3);
}

.nav{
	height:50%;
	width:100%;
}

.halfrow{
	height:50%;
	width:100%;
}

.subnav{
	height:25%;
	width:100%;
}

/*responsive breakpoints*/

@media screen and (max-width:1109px){
	body{
		background-image:url(../images/MAST.png);
	}
	.centerpiece{
		display:none;
	}
	.minibox{
		height:100%;
		width:100%;
	}
}

@media screen and (max-width:800px){
	body{
		background-image:url(../images/blood-mountain.jpg);
	}
	.box{
		height:100%;
		width:100%;
	}
	.minibox{
		height:100%;
		width:100%;
	}
	.col_center{
		height:75vh;
		width:100vh;
	}
	.smallbox{
		display:none;
	}
	.col{
		height:25vh;
		width:50vw;
		order:1000;
	}
	.nanobox{
		height:50%;
		width:100%;
	}
	.nanoboxy{
		display:none;
	}
	.subnav{
		height:100%;
		width:100%;
	}
	.thirdbox{
		height:100%;
		width:50%;
	}
	.thirdbox_center{
		display:none;
	}
}
