/* Paste in code from your old files to save time and avoid typos! */

body {
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	margin:0;
}

.center-horizontal{
	display: flex;
	align-items:center;
}

.center-vertical{
	display: flex;
	justify-content: center;
	height: inherit;
}

.col_center{
	height:100vh;
	width:70vw;
}

.col{
	height:100vh;
	width:15vw;
	display:flex;
	flex-wrap:wrap;
}


.box{
	height:60%;
	width:100%;
}

.smallbox{
	height:20%;
	width:100%;
}

.minibox{
	height:100%;
	width:70%;
}

.nanobox{
	height:calc(100%/3);
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.nanoboxy{
	height:calc(100%/3);
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.thirdbox{
	height:100%;
	width:calc(100%/3);
}

.thirdbox_center{
	height:100%;
	width:calc(100%/3);
}


.nav{
	height:50%;
	width:100%;
}


.halfrow{
	height:50%;
	width:100%;
}

@media screen and (max-width:1300px){
	.minibox{
		height:100%;
		width:100%;
	}
}

@media screen and (max-width:800px){
	.box{
		height:100%;
		width:100%;
	}
	.minibox{
		height:100%;
		width:100%;
	}
	.col_center{
		height:75vh;
		width:100vh;
	}
	.smallbox{
		height:0;
		width:0;
	}
	.col{
		height:calc(25vh/2);
		width:50vw;
	}
	.nanobox{
		height:50%;
		width:100%;
	}
	.nanoboxy{
		height:0;
		width:0;
	}
	.thirdbox{
		height:100%;
		width:50%;
	}
	.thirdbox_center{
		height:0;
		width:0;
	}
}

.green{background-color:#31bf01;}

.red{background-color:#f71b1b;}

.blue{background-color:#0053d1;}

.yellow{background-color:#f4eb42;}
