body {
	background-image:url(../images/sultanscurse.png);
	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	margin:0;
}

body::after{
	display:none;
	content: /*This loads all the images used for :hover effects and class toggling with JavaScript. This allows the transitions between images to be smooth and seamless.*/
		url(../images/centerpiece.png) 
		url(../images/centerpiece_hover.png)
		url(../images/billkelliher.png)
		url(../images/billkelliher_hover.png)
		url(../images/brann-dailor-photo-credit-jimmy-hubbard-mastodon.png)
		url(../images/brann-dailor-photo-credit-jimmy-hubbard-mastodon_hover.png)
		url(../images/maxresdefault.png)
		url(../images/maxresdefault_hover.png)
		url(../images/hqdefault.png)
		url(../images/hqdefault_hover.png)
		url(../images/Mastodon-2014.png)
		url(../images/Mastodon-2014_hover.png)
		url(../images/intense.PNG)
		url(../images/intense_hover.png)
		url(../images/3.png)
		url(../images/3_hover.png)
		url(../images/troy_stare.png)
		url(../images/troy_stare_hover.png);
}

img{
	height:100%;
}

.box{
	height:60%;
	width:100%;
}

.center-horizontal{
	display: flex;
	align-items:center;
}

.center-vertical{
	display: flex;
	justify-content: center;
	height: inherit;
}

.col_center{
	height:100vh;
	width:70vw;
}

.col{
	height:100vh;
	width:15vw;
	display:flex;
	flex-wrap:wrap;
}

.minibox{
	height:100%;
	width:70%;
}

.nanobox{
	height:calc(100%/3);
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.nanoboxy{
	height:calc(100%/3);
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.nav{
	height:50%;
	width:100%;
}

.pause{
	height:100%;
	content:url(../images/pause.png);
}

.pause:hover{
	cursor: pointer;
}

.pause:active{
	transform: scale(0.95, 0.95);
}

.play{
	height:100%;
	content:url(../images/play.png);
}

.play:hover{
	cursor: pointer; /*Taken from Eric's stanley_cup_cheer example*/
}

.play:active{ /*Taken from Eric's stanley_cup_cheer example*/
	transform: scale(0.95, 0.95);
}

.replay{	
	max-height:100%;
	max-width:100%;
	content:url(../images/replay.png)
}

.replay:hover{
	cursor: pointer;
}

.replay:active{
	transform: scale(0.95, 0.95);
}

.smallbox{
	height:40%;
	width:100%;
}

.subnav{
	height:calc(100%/3);
	width:100%;
}

.thirdbox{
	height:100%;
	width:calc(100%/3);
}

.thirdbox_center{
	height:100%;
	width:calc(100%/3);
}


/*images*/

.background_img{
	background-image:url(../images/MAST_CTSStd_intray.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.centerpiece{
	content:url(../images/centerpiece.png);
}

.centerpiece:hover{
	content:url(../images/centerpiece_hover.png);
	cursor: pointer;
}

.centerpiece:active{
	transform: scale(0.95, 0.95);
}

/*The band*/
.bill{
	content:url(../images/billkelliher.png);
}

.bill:hover{
	content:url(../images/billkelliher_hover.png);
	cursor: pointer;
}

.bill:active{
	transform: scale(0.95, 0.95);
}

.bill_on{
	content:url(../images/Mastodon-2014.png);
}

.bill_on:hover{
	content:url(../images/Mastodon-2014_hover.png);
	cursor: pointer;
}

.bill_on:active{
	transform: scale(0.95, 0.95);
}

.brann{
	content:url(../images/brann-dailor-photo-credit-jimmy-hubbard-mastodon.png);
}

.brann:hover{
	content:url(../images/brann-dailor-photo-credit-jimmy-hubbard-mastodon_hover.png);
	cursor: pointer;
}

.brann:active{
	transform: scale(0.95, 0.95);
}

.brann_on{
	content:url(../images/intense.PNG);
}

.brann_on:hover{
	content:url(../images/intense_hover.png);
	cursor: pointer;
}

.brann_on:active{
	transform: scale(0.95, 0.95);
}

.brent{
	content:url(../images/hqdefault.png);
}

.brent:hover{
	content:url(../images/hqdefault_hover.png);
	cursor: pointer;
}

.brent:active{
	transform: scale(0.95, 0.95);
}

.brent_on{
	content:url(../images/3.png);
}

.brent_on:hover{
	content:url(../images/3_hover.png);
	cursor: pointer;
}

.brent_on:active{
	transform: scale(0.95, 0.95);
}

.troy{
	content:url(../images/maxresdefault.png);
}

.troy:hover{
	content:url(../images/maxresdefault_hover.png);
	cursor: pointer;
}

.troy:active{
	transform: scale(0.95, 0.95);
}

.troy_on{
	content:url(../images/troy_stare.png);
}

.troy_on:hover{
	content:url(../images/troy_stare_hover.png);
	cursor: pointer;
}

.troy_on:active{
	transform: scale(0.95, 0.95);
}

/*responsive breakpoints*/

@media screen and (max-width:1100px){
	body{
		background-image:url(../images/blood_mountain.jpg);
	}
	.box{
		height:100%;
		width:100%;
	}
	.background_img{
		background-image:none;
	}
	.minibox{
		height:100%;
		width:100%;
	}
	.col_center{
		height:75vh;
		width:100vw;
	}
	.smallbox{
		display:none
	}
	.col{
		display:none;
	}
	.nanobox{
		height:50%;
		width:100%;
	}
	.nanoboxy{
		display:none;
	}
	.subnav{
		display:none;
		}
	.thirdbox{
		height:100%;
		width:50%;
	}
	.thirdbox_center{
		display:none;
	}
}

@media screen and (max-width:460px){
	.col_center{
		height:100vh;
	}
	.nanobox{
		display:block;
		height:50vh;
		width:100vw
	}
	.thirdbox {
		height: 50%;
		width: 100%;
	}
}
